@import "../../styles/mixins";
@import "../../styles/variables";

.hero {
  background-color: black;

  @include flex-center;

  &__title {
    color: white;
    padding: 1rem;
  }
  &__container-images {
    @include flex-center;
  }
  &__button {
    background-color: #e26a27;
    color: white;
    border: none;
    padding: 0.5rem;
    &-container {
      @include flex-center;
    }
  }
}
