@import "../../styles/mixins";
@import "../../styles/variables";

.body {
  background: linear-gradient(#000, #842a03);
  padding: 2rem;
  &__title {
    color: aliceblue;
    padding: 0.3rem;
  }
  &__content {
    @include flex-center;
    @include desktop {
      @include flex-row-reverse;
      gap: 6rem;
    }
  }
  &__info-container {
    @include desktop {
      @include flex-row;
      padding: 1rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  &__image-row {
    display: flex;
    justify-content: center;
  }
  &__image {
    padding-top: 1rem;
    &-container {
      @include flex-center;
      gap: 1rem;
      @include desktop {
        @include flex-row-reverse;
      }
    }
  }
  &__nature-container {
    padding: 2rem;
  }
  &__paragraph {
    padding: 1rem;
    color: aliceblue;
    &-container {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      @include desktop {
        display: flex;
        flex-direction: column;
        margin: 4rem;
      }
    }
  }
  &__text-container {
    @include desktop {
      padding: 2rem;
    }
  }
}

.info {
  background: aliceblue;
  padding: 2rem;
  &__container {
    margin-top: 20px;
    padding: 1rem;
    &--first {
      background-color: #5c6dc9;
    }
    &--second {
      background-color: #628758;
    }
    &--third {
      background-color: #9a492f;
    }
  }
}

iframe {
  -moz-transform: scale(0.75, 0.75);
  -webkit-transform: scale(0.75, 0.75);
  -o-transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
.info {
  &__subtitle {
    color: #f8eba7;
  }
}
.button,
.events__button {
  font-size: 1.2rem;
  margin-top: 24px;
  border: none;
  width: 8rem;
  height: 5vh;
  background-color: #e26a27;
  color: white;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px rgb(178, 84, 7);
  }
}
.fact {
  background-color: aliceblue;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 1rem;
  @include desktop {
    width: 40%;
    padding: 1rem;
  }
}
.events {
  background: linear-gradient(#000, #842a03);
  &__title {
    padding: 0.5rem;
    &-container {
      padding: 3rem;
    }
  }
  &__fact {
    @include desktop {
      padding: 1rem;
      &-container {
        width: 30%;
      }
    }
  }
}
.contact {
  min-height: calc(100vh - 60rem);
  padding: 3rem;
  @include flex-row;
  @include desktop {
    padding: 3rem;
  }
  &__border {
    border-top: 4px solid #323232;
    height: 8rem;
  }
  &__form {
    @include flex-center;
    gap: 1.5rem;
    width: 24rem;
    height: 35rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    &--text {
      font-size: 1.2rem;
    }
  }
}
@media only screen and (max-width: 767px) {
  .contact__image {
    display: none;
  }
}
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
