@import "../../styles/mixins";
@import "../../styles/variables";

.header {
  background-color: black;
  &__link-container {
    @include flex-row;
  }
}

.nav-items {
  color: aliceblue;
  list-style: none;
}
